{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>{% block title %}YTPomodoro Timer{% endblock %}</title> <!-- MAX 70 Chars-->

	<!-- Bootstrap core CSS -->
	<link href="{% static 'base/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="{% static 'base/css/business-frontpage.css' %}" rel="stylesheet">

	{% block head_extras %}
	{% endblock %}

	{% if production %}
	<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- 	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120716072-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-120716072-1');
	</script> -->
	{% endif %}

</head>

<body>

	<!-- Navigation -->

	{% include 'navbar.html' %}

	{% block content_1 %}
	{% endblock %}

	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-2"></div>
			<div class="col-lg-6 col-md-8 col-sm-12">
				<!-- content -->
				{% block content_2 %}
				{% endblock %}
			</div>
			<div class="col-lg-3 col-md-3"></div>
		</div>
	</div>


	{% include 'footer.html' %}
	<!-- Bootstrap core JavaScript -->
	<script src="{% static 'base/vendor/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'base/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
